@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container-all {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
}

.spot-content-container {
  display: flex;
  flex-direction: row-reverse;
  height: calc(100vh - 100px);
}

.album-container {
  /* background-color: pink; */
  height: 100%;
  overflow: auto;
}

.album-container .header {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.header button {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

button:hover {
  padding: 15px 30px;
  cursor: pointer;
}

.album-container .albums {
  padding: 5px;
  width: 100%;
  padding: 20px;
}

/* ------ LISTA MENU CONTENUTO CENTRALE MOBILE ------ */

.list-album {
  padding: 20px;
  text-align: center;
}

.list-album li {
  display: inline;
  text-transform: uppercase;
  margin: 0px 5px;
  font-size: 0.6rem;
  color: rgb(193, 192, 192);
}

.list-album li:hover {
  color: white;
  cursor: pointer;
}

/* ------  CONTENUTO CENTRALE MOBILE ------ */

.container-recently-card,
.container-for-you {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.recently h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.for-you h2 {
  font-size: 1rem;
  margin-top: 30px;
}

.for-you h5 {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.populars h2 {
  font-size: 1rem;
  margin-top: 30px;
}

.populars h5 {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recently-card {
  width: calc(100% / 2);
  padding: 3px;
}

.recently-card img {
  width: 100%;
}

.hover-card {
  position: relative;
}

.hover-card i {
  display: block;
  position: absolute;
  font-size: 4rem;
}

/* .hover-card i:hover {
  display: block;
} */

.recently-card h3 {
  font-size: 0.8rem;
}

.recently-card h5 {
  font-size: 0.6rem;
  opacity: 1;
}

.img-circle img {
  width: 100%;
  border-radius: 50%;
}

/* ------ NAVBAR MOBILE SECTION */

.nav-bar-left {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}

.navbar-logo {
  width: 50%;
  align-items: center;
}

.navbar-logo .logo-big {
  display: none;
}

.list-nav-left-up li {
  list-style: none;
}

.list-nav-left-up li:first-child {
  color: white;
  font-weight: 900;
}

.list-nav-left-up img {
  width: 100%;
}

.list-nav-left-up span {
  display: none;
}

.list-nav-left-bottom span {
  display: none;
}

.list-nav-left-bottom li {
  list-style: none;
}

.list-nav-playlist {
  overflow-x: auto;
}

.list-nav-playlist li:hover {
  color: white;
}

.playlist h5,
.icon-playlist,
.list-nav-playlist {
  display: none;
}

.list-nav-left-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.small-down {
  width: 80%;
  margin-bottom: 10px;
  color: gray;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: gray;
  margin-bottom: 10px;
  display: none;
}

.user img {
  width: 65%;
}

.user div {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------ FOOTER SECTION ------ */

.spot-footer-container {
  background-color: #303030;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.content-footer-spot-left {
  height: 100%;
  width: 100%;
  display: flex;
}

.container-left {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.sinister-img {
  display: flex;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}

.sinister-img img {
  height: 50px;
  width: 50px;
  padding: 10px 2px;
}

.sinister-img > div {
  margin: 0px 2px;
}

div h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fa-heart,
.fa-folder {
  color: gray;
}

.fa-heart:hover,
.fa-folder:hover {
  color: white;
}

.content-footer-spot-center {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content-footer-spot-center ul {
  margin-top: 10px;
}

.content-footer-spot-center li {
  list-style: none;
  display: inline;
  margin: 0px 2px;
}

.icon-bigger-footer {
  font-size: 1.4rem;
}

.time-player {
  display: flex;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.time-player .sec {
  width: 30%;
  text-align: right;
  margin-right: 5px;
}

.time-player .sec-1 {
  width: 30%;
  text-align: left;
  margin-left: 5px;
}

.time-player .bar-opa {
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}

.time-player .bar {
  height: 3px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.time-player .bar:hover {
  background-color: greenyellow;
  cursor: pointer;
}

.line-volume:hover {
  background-color: greenyellow;
}

.content-footer-spot-right {
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
}

.content-footer-spot-right li {
  list-style: none;
  display: inline;
}

.content-footer-spot-center .fa-shuffle,
.fa-rotate-right,
.sec,
.sec-1 {
  display: none;
}

.content-footer-spot-right .fa-list,
.fa-desktop {
  display: none;
}

.content-footer-spot-right div {
  height: 3px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

/* ------ MEDIA QUERY SEZIONE CELLULARE M */

@media screen and (min-width: 320px) {
  .nav-bar-left {
    background-color: black;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .navbar-logo {
    width: 100%;
    align-items: start;
  }
  .navbar-logo .logo-big {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .list-nav-left-up li {
    display: flex;
    padding-left: 5px;
  }

  .list-nav-left-up li:first-child {
    border-left: 2px solid greenyellow;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up img {
    width: 20%;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .list-nav-left-up span {
    display: block;
    font-size: 0.7rem;
  }

  .playlist h5,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .list-nav-left-bottom img {
    width: 20%;
    /* margin-bottom: 10px;
    margin-right: 5px; */
  }

  .list-nav-left-bottom span {
    display: block;
    margin-left: 5px;
  }

  .list-nav-left-bottom li {
    display: flex;
  }

  .playlist h5 {
    margin-top: 20px;
  }

  .icon-playlist span {
    font-size: 0.7rem;
  }

  .icon-playlist {
    margin-top: 10px;
  }

  .playlist li {
    font-size: 0.6rem;
    margin: 5px 0px;
  }

  .list-nav-left-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .list-nav-left-bottom span {
    font-size: 0.6rem;
  }

  .small-down {
    width: 80%;
    margin-left: 5px;
  }

  .divider {
    display: block;
  }

  .user img {
    width: 65%;
    justify-content: center;
    align-items: center;
  }

  .user div {
    width: 20px;
    height: 20px;
  }

  .recently-card {
    width: calc(100% / 2);
    padding: 3px;
  }

  .user {
    display: flex;
    align-items: center;
  }

  .sinister-img img {
    height: 100%;
    padding: 10px 2px;
  }

  .content-footer-spot-right {
    width: 90%;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    display: flex;
  }

  .content-footer-spot-right {
    width: 100%;
  }

  .content-footer-spot-right ul {
    display: flex;
  }

  .content-footer-spot-right li {
    margin: 0px 5px;
  }

  .content-footer-spot-right div {
    height: 3px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

/* ------ MEDIA QUERY SEZIONE CELLULARE L */

@media screen and (min-width: 425px) {
  .nav-bar-left {
    text-align: left;
    width: 50%;
  }

  .navbar-logo .logo-big {
    display: block;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up span {
    display: block;
  }

  .playlist h5,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .nav-left-bottom-section span {
    display: block;
  }

  .recently-card {
    width: calc(100% / 4);
    padding: 3px;
  }

  .sinister-img img {
    height: 100%;
    padding: 10px 2px;
  }

  .content-footer-spot-right {
    width: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .content-footer-spot-right {
    width: 100%;
  }

  .content-footer-spot-right ul {
    display: flex;
  }

  .content-footer-spot-right li {
    margin: 0px 5px;
  }

  .content-footer-spot-right div {
    height: 3px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .divider {
    display: block;
  }

  .content-footer-spot-center .fa-shuffle,
  .fa-rotate-right,
  .sec,
  .sec-1 {
    display: inline-block;
  }

  .content-footer-spot-right .fa-list,
  .fa-desktop {
    display: inline-block;
  }
}

/* ------ MEDIA QUERY SEZIONE TABLET */

@media screen and (min-width: 768px) {
  .nav-bar-left {
    text-align: left;
    width: 40%;
  }
  .navbar-logo .logo-big {
    display: block;
    width: 90%;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up span {
    display: block;
  }

  .divider {
    display: block;
  }

  .playlist h4,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .nav-left-bottom-section span {
    display: block;
  }

  .recently-card {
    width: calc(100% / 4);
    padding: 3px;
  }
  .content-footer-spot-right {
    width: 100%;
  }

  .content-footer-spot-right ul {
    display: flex;
  }

  .content-footer-spot-right li {
    margin: 0px 5px;
  }

  .content-footer-spot-right div {
    height: 3px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

/* ------ MEDIA QUERY SEZIONE DESKTOP */

@media screen and (min-width: 1024px) {
  .nav-bar-left {
    text-align: left;
    width: 20%;
  }
  .navbar-logo .logo-big {
    display: block;
    width: 90%;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up span {
    display: block;
  }

  .list-nav-left-up li {
    width: 70%;
    align-items: center;
  }

  .playlist h4,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
    color: gray;
  }

  .icon-playlist {
    display: flex;
    align-items: center;
  }

  .icon-playlist .fa-square-plus {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  .icon-playlist span {
    font-size: 0.9rem;
  }

  .playlist li {
    font-size: 0.8rem;
  }

  .list-nav-playlist .icon-playlist,
  li:hover {
    color: white;
    cursor: pointer;
  }

  .list-nav-left-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .small-down {
    width: 50%;
    margin-bottom: 10px;
  }

  .user div {
    width: 30px;
    height: 30px;
  }

  .user span {
    font-weight: 800;
    font-size: 0.7rem;
  }

  .list-album li {
    font-size: 0.8rem;
  }

  .recently-card {
    width: calc(100% / 6);
    padding: 3px;
  }

  .sinister-img img {
    height: 100%;
    padding: 10px 2px;
  }

  .content-footer-spot-right {
    width: 100%;
  }

  .content-footer-spot-right ul {
    display: flex;
  }

  .content-footer-spot-right li {
    margin: 0px 5px;
  }

  .content-footer-spot-right div {
    height: 3px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}
