.container-all {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
}

.spot-content-container {
  display: flex;
  flex-direction: row-reverse;
}

.album-container {
  background-color: pink;
}

.album-container .header {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* .header button {
} */

.album-container .albums {
  padding: 20px;

  width: 100%;
}

/* ------ LISTA MENU CONTENUTO CENTRALE MOBILE ------ */

.list-album {
  padding: 20px;
  text-align: center;
}

.list-album li {
  display: inline;
}

/* ------  CONTENUTO CENTRALE MOBILE ------ */

.container-recently-card,
.container-for-you {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.recently-card {
  width: calc(100% / 2);
  padding: 3px;
}

.recently-card img {
  width: 100%;
}

.img-circle img {
  width: 100%;
  border-radius: 50%;
}

/* ------ NAVBAR MOBILE SECTION */

.nav-bar-left {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navbar-logo {
  width: 50%;
  align-items: center;
}

.navbar-logo .logo-big {
  display: none;
}

.list-nav-left-up li {
  list-style: none;
}

.list-nav-left-up img {
  width: 100%;
  opacity: 0.7;
}

.list-nav-left-up span {
  display: none;
}

.list-nav-left-bottom span {
  display: none;
}

.list-nav-left-bottom li {
  list-style: none;
}

.playlist h5,
.icon-playlist,
.list-nav-playlist {
  display: none;
}

/* .nav-left-bottom-section img {
  width: 100%;
}

.nav-left-bottom-section span {
  display: none;
} */

/* ------ FOOTER SECTION ------ */

.spot-footer-container {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: rgb(20, 25, 34);
}

/* ------ MEDIA QUERY SEZIONE CELLULARE M */

@media screen and (min-width: 320px) {
  .nav-bar-left {
    background-color: black;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navbar-logo {
    width: 50%;
  }
  .navbar-logo .logo-big {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .list-nav-left-up li {
    display: flex;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up img {
    width: 50%;
    margin-bottom: 10px;
  }

  .list-nav-left-up span {
    display: block;
  }

  .playlist h5,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .nav-left-bottom-section span {
    display: block;
  }

  .recently-card {
    width: calc(100% / 2);
    padding: 3px;
  }
}

/* ------ MEDIA QUERY SEZIONE CELLULARE L */

@media screen and (min-width: 425px) {
  .nav-bar-left {
    text-align: left;
  }

  .navbar-logo .logo-big {
    display: block;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up span {
    display: block;
  }

  .playlist h5,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .nav-left-bottom-section span {
    display: block;
  }

  .recently-card {
    width: calc(100% / 4);
    padding: 3px;
  }
}

/* ------ MEDIA QUERY SEZIONE TABLET */

/* @media screen and (min-width: 768px) {
  .nav-bar-left {
    text-align: left;
  }
  .navbar-logo .logo-big {
    display: block;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up span {
    display: block;
  }

  .playlist h4,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .nav-left-bottom-section span {
    display: block;
  }

  .recently-card {
    width: calc(100% / 4);
    padding: 3px;
  }
} */

/* ------ MEDIA QUERY SEZIONE DESKTOP */

@media screen and (min-width: 1024px) {
  .nav-bar-left {
    text-align: left;
  }
  .navbar-logo .logo-big {
    display: block;
  }

  .navbar-logo .logo-small {
    display: none;
  }

  .playlist li {
    list-style: none;
  }

  .list-nav-left-up span {
    display: block;
  }

  .playlist h4,
  .icon-playlist,
  .list-nav-playlist {
    display: block;
  }

  .nav-left-bottom-section span {
    display: block;
  }

  .recently-card {
    width: calc(100% / 6);
    padding: 3px;
  }
}
